<!doctype html>
<html lang="en">

<head>
   
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>{{title}}</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="images/logo.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="public/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="public/css/animate.css">
    
    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="public/css/nice-select.css">
    
    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="public/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="public/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/all.min.css">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="public/css/default.css">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="public/css/style.css">
    
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="public/css/responsive.css">
  
  
</head>

<body>
   
   <!--====== PRELOADER PART START ======-->
    
    {{!-- <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div> --}}
  
    {{!-- {{> header }} --}}
    <!--Success Messages-->
    {{#if success_msg}}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{success_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    <!--Error Messages-->
    {{#if error_msg}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {{/if}}

    {{{ body }}}
    <!--====== BACK TO TP PART START ======-->
    
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    
    <!--====== BACK TO TP PART ENDS ======-->
   
    <script>$(document).ready(function() {             $('#loginModal').modal('show');
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
      });</script>
    
    
    
    
    
    
    <!--====== jquery js ======-->
    <script src="public/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="public/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="public/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/f5610f7d47.js" crossorigin="anonymous"></script>
    
    <!--====== Slick js ======-->
    <script src="public/js/slick.min.js"></script>
    
    <!--====== Magnific Popup js ======-->
    <script src="public/js/jquery.magnific-popup.min.js"></script>
    
    <!--====== Counter Up js ======-->
    <script src="public/js/waypoints.min.js"></script>
    <script src="public/js/jquery.counterup.min.js"></script>
    
    <!--====== Nice Select js ======-->
    <script src="public/js/jquery.nice-select.min.js"></script>
    
    <!--====== Nice Number js ======-->
    <script src="public/js/jquery.nice-number.min.js"></script>
    
    <!--====== Count Down js ======-->
    <script src="public/js/jquery.countdown.min.js"></script>
    
    <!--====== Validator js ======-->
    <script src="public/js/validator.min.js"></script>
    
    <!--====== Ajax Contact js ======-->
    <script src="public/js/ajax-contact.js"></script>
    
    <!--====== Main js ======-->
    <script src="public/js/main.js"></script>
    
    <!--====== Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
    <script src="public/js/map-script.js"></script>

</body>

</html>
