{{!-- {{> layout }} --}}

{{#if user}}

{{> header2 }}


{{else}}

{{> header }}

{{/if}}
<!--====== SLIDER PART START ======-->
    
    <section id="slider-part" class="slider-active">
        <div class="single-slider slider-2 bg_cover" style="background-image: url(public/images/slider/s-2.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-10">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Enter into virtual experience</h1>
                            <a data-animation="fadeInUp" data-delay="1.3s" href="#" class="main-btn">Enter Classroom Now</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider slider-2 bg_cover" style="background-image: url(public/images/slider/s-3.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-10">
                        <div class="slider-cont">
             <!-- container -->
            <h1 data-animation="bounceInLeft" data-delay="1s">Enter into virtual experience</h1>
            <a data-animation="fadeInUp" data-delay="1.3s" href="#" class="main-btn">Enter Classroom Now</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
        
        <div class="single-slider slider-2 bg_cover" style="background-image: url(public/images/slider/s-1.jpg)" data-overlay="4">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-10">
                        <div class="slider-cont">
                            <h1 data-animation="bounceInLeft" data-delay="1s">Enter into virtual experience</h1>
                            <a data-animation="fadeInUp" data-delay="1.3s" href="#" class="main-btn">Enter Classroom Now</a>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- single slider -->
    </section>
    
    <!--====== SLIDER PART ENDS ======-->
   
    <!--====== CATEGORY PART START ======-->
    
    <section id="category-2-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="category-2-items pt-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-1.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Computer Science</h5>
                                            <span>5 courses</span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-2.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Computer Engineering</h5>
                                            <span>8 courses </span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-3.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Electronics</h5>
                                            <span>4 courses</span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-4.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Mathematics</h5>
                                            <span>4 courses </span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-5.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Economics</h5>
                                            <span>8 courses </span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-items text-center mt-30">
                                    <div class="items-image">
                                        <img src="public/images/category/ctg-6.jpg" alt="Category">
                                    </div>
                                    <div class="items-cont">
                                        <a href="#">
                                            <h5>Science</h5>
                                            <span>4 courses </span>
                                        </a>
                                    </div>
                                </div> <!-- singel items -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- category -->
                </div>

                {{#unless user}}
                <div class="col-lg-5 offset-lg-1">
                    <div class="category-form">
                        <div class="form-title text-center">
                            <h3>Get Started</h3>
                            <span>Sign up now </span>
                        </div>
                        <div class="main-form">



{{!-- --------------------------- Sign Up Begins Here------------------------------ --}}

                            {{!-- <!--Validation Errors-->
                                    <div class="container" style="margin-top: 4%;">
                                    {{#if errors}}
                                        {{#each errors}}
                                        <div class="alert alert-danger" role="alert">
                                            {{msg}}
                                        </div>
                                        {{/each}}
                                    {{/if}}
                                    </div> --}}

                            <form action="/users/signup" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">First name:</label>
                                        <input name="first_name" value="{{first_name}}" class="form-control" id="inputEmail4" placeholder="John">
                                      </div>
                                      <div class="form-group col-md-6 mb-3">
                                        <label for="inputPassword4">Last Name:</label>
                                        <input name="last_name" value="{{last_name}}" class="form-control" id="inputPassword4" placeholder="Cena">
                                      </div>
                                      <div class="form-group col-md-6 mb-2">
                                        <label for="inputPassword4">Username:</label>
                                        <input name="username" value="{{username}}" class="form-control" id="inputPassword4" placeholder="Cena">
                                      </div>
                                    
                                      <div class="form-group col-md-6">
                                    <label for="inputEmail4">Email:</label>
                                    <input name="email" value="{{email}}" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password:</label>
                                    <input name="password" value="{{password}}" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                  </div>
                                  <div class="form-group col-md-6">
                                    <label for="inputPassword4"> Confirm Password:</label>
                                    <input name="password2" value="{{password2}}" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="inputAddress">Phone no:</label>
                                  <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="basic-addon1">+977</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Phone no:" aria-label="Username" aria-describedby="basic-addon1">
                                  </div>
                                </div>
                              <div class="form-row">
                                
                            <div class="form-group col-md-4 mb-2">
                                    <label for="inputState">You are?</label>
                                    <select name="type" id="inputState" class="form-control">
                                      <option selected>Choose...</option>
                                      <option value="student">Student</option>
                                      <option value="instructor">Teacher</option>
                                    </select>
                                  </div>
                                  
                                </div>
                                <div class="form-group">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      I agree
                                    </label>
                                  </div>
                                </div>
                             
                            
                                <div class="singel-form">
                                    <button class="main-btn" type="submit" >Sign Up</button>
                                </div>
                            </form>



  {{!-- --------------------------- Sign Up Ends Here------------------------------ --}}
  {{/unless}}
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== CATEGORY PART ENDS ======-->
   
    <!--====== COURSE PART START ======-->
    
    <section id="course-part" class="pt-115 pb-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-45">
                        <h5>Our course</h5>
                        <h2>Trending courses </h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row course-slied mt-30">
                <div class="col-lg-4">
                    <div class="singel-course-2">
                        <div class="thum">
                            <div class="image">
                              <a href="courses-single.html">  <img src="public/images/course/cu-1.jpg" alt="Course"> </a>
                             </div>
                            
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="teachers-single.html"><img src="public/images/course/teacher/teacherHome/t-1.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="#"><h6>Sushil Shrestha</h6></a>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="#"><h4>Human Computer Interaction</h4></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course-2">
                        <div class="thum">
                            <div class="image">
                               <a href="courses-single.html"> <img src="public/images/course/cu-2.jpg" alt="Course"></a>
                            </div>
                            
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="courses-single.html"><img src="public/images/course/teacher/teacherHome/t-2.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="teachers-single.html"><h6>Dhiraj Shrestha</h6></a>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="course-single.html"><h4>Computer Graphics</h4></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course-2">
                        <div class="thum">
                            <div class="image">
                                <a href = "courses-single.html"><img src="public/images/course/cu-3.jpeg" alt="Course"></a>
                            </div>
                            
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="courses-single.html"><img src="public/images/course/teacher/teacherHome/t-3.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="teachers-single.html"><h6>Satyendra Lohani</h6></a>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="courses-single.html"><h4>Embedded System</h4></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course-2">
                        <div class="thum">
                            <div class="image">
                              <a href = "courses-single.html">  <img src="public/images/course/cu-4.jpg" alt="Course"></a>
                            </div>
                           
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="courses-single.html"><img src="public/images/course/teacher/teacherHome/t-4.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href="teachers-single.html"><h6>Rajani Chulyadyo</h6></a>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="#"><h4>Algorithm</h4></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course-2">
                        <div class="thum">
                            <div class="image">
                                <img src="public/images/course/cu-5.jpg" alt="Course">
                            </div>
                          
                            <div class="course-teacher">
                                <div class="thum">
                                    <a href="courses-singel.html"><img src="public/images/course/teacher/teacherHome/t-5.jpg" alt="teacher"></a>
                                </div>
                                <div class="name">
                                    <a href=""><h6>Pankaj Duwadi</h6></a>
                                </div>
                                <div class="review">
                                    <ul>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <a href="#"><h4>Computer Architecture</h4></a>
                        </div>
                    </div> <!-- singel course -->
                </div>
            </div> <!-- course slied -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSE PART ENDS ======-->
    
    <!--====== COUNTER PART START ======-->
    
    <div id="counter-part" class="bg_cover pt-65 pb-110" data-overlay="8" style="background-image: url(public/images/bg-2.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">5,000</span>+</span>
                        <p>Students enrolled</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">5,000</span>+</span>
                        <p>Courses Uploaded</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">5,000</span>+</span>
                        <p>People certifie</p>
                    </div> <!-- singel counter -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-counter text-center mt-40">
                        <span><span class="counter">100</span>+</span>
                        <p> Teachers</p>
                    </div> <!-- singel counter -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>
    
    <!--====== COUNTER PART ENDS ======-->
    
    <!--====== TEACHERS PART START ======-->
    
    <section id="teachers-part" class="pt-65 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mt-50 pb-25">
                        <h5>Top Tutors</h5>
                        <h2>Featured Teachers</h2>
                    </div> <!-- section title -->
                    <div class="teachers-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="teachers-2-singel mt-30">
                                    <div class="thum">
                                        <img src="public/images/teachers/teacher-2/tc-1.jpg" alt="Teacher">
                                    </div>
                                    <div class="cont">
                                        <a href="public/teachers-singel.html"><h5>Sushil Shrestha</h5></a>
                                        <p>HCI Expert</p>
                                        <span><i class="fa fa-book"></i>3 Courses</span>
                                    </div>
                                </div> <!-- teachers 2 singel -->
                            </div>
                            <div class="col-md-6">
                                <div class="teachers-2-singel mt-30">
                                    <div class="thum">
                                        <img src="public/images/teachers/teacher-2/tc-2.jpg" alt="Teacher">
                                    </div>
                                    <div class="cont">
                                        <a href="public/teachers-singel.html"><h5>Dhiraj Shrestha</h5></a>
                                        <p>Ghraphics Expert</p>
                                        <span><i class="fa fa-book"></i>05 Courses</span>
                                    </div>
                                </div> <!-- teachers 2 singel -->
                            </div>
                            <div class="col-md-6">
                                <div class="teachers-2-singel mt-30">
                                    <div class="thum">
                                        <img src="public/images/teachers/teacher-2/tc-4.jpg" alt="Teacher">
                                    </div>
                                    <div class="cont">
                                        <a href="public/teachers-singel.html"><h5>Rajani Chuladyo</h5></a>
                                        <p>Statistics Expert</p>
                                        <span><i class="fa fa-book"></i>4 Courses</span>
                                    </div>
                                </div> <!-- teachers 2 singel -->
                            </div>
                            <div class="col-md-6">
                                <div class="teachers-2-singel mt-30">
                                    <div class="thum">
                                        <img src="public/images/teachers/teacher-2/tc-3.jpg" alt="Teacher">
                                    </div>
                                    <div class="cont">
                                        <a href="public/teachers-singel.html"><h5>Santyendra Lohani</h5></a>
                                        <p>ML Expert</p>
                                        <span><i class="fa fa-book"></i>02 Courses</span>
                                    </div>
                                </div> <!-- teachers 2 singel -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- teachers 2 -->
                </div>
                <div class="col-lg-6 ">
                    <div class="happy-student mt-55">
                        <div class="happy-title">
                            <h3>Happy Students</h3>
                        </div>
                        <div class="student-slied">
                            <div class="singel-student">
                                <img src="public/images/teachers/teacher-2/quote.png"  alt="Quote">
                                <p>Virtual Classroom makes study fun.</p>
                                <h6>Ashish Pokhrel</h6>
                                <span>Engineering</span>
                            </div> <!-- singel student -->
                            
                            <div class="singel-student">
                                <img src="public/images/teachers/teacher-2/quote.png" alt="Quote">
                                <p>Virtual Classroom makes study fun.</p>
                                <h6>Ashish Pokhrel</h6>
                                <span> Engineering</span>
                            </div> <!-- singel student -->
                            
                            <div class="singel-student">
                                <img src="public/images/teachers/teacher-2/quote.png" alt="Quote">
                                <p>Virtual Classroom makes study fun. </p>
                                <h6>Ashish Pokhrel</h6>
                                <span>Engineering</span>
                            </div> <!-- singel student -->
                        </div> <!-- student slied -->
                        <div class="student-image">
                            <img src="/public/images/happy-ashish.png"  style="width: 260px; height: 320px; "alt="Image">
                        </div>
                    </div> <!-- happy student -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== TEACHERS PART ENDS ======-->
    
    <!--====== EVENT 2 PART START ======-->
    
    
    <!--====== EVENT 2 PART ENDS ======-->
   
    <!--====== NEWS PART START ======-->
    
    <section id="news-part" class="pt-115 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-50">
                        <h5>Latest News</h5>
                        <h2>From the news</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="singel-news mt-30">
                        <div class="news-thum pb-25">
                            <img src="public/images/news/n-1.jpg" alt="News">
                        </div>
                        <div class="news-cont">
                            <ul>
                                <li><a href="#"><i class="fa fa-calendar"></i>25 July, 2020 </a></li>
                                <li><a href="#"> <span>By</span> Bishal KC</a></li>
                            </ul>
                            <a><h3>Tips to grade high cgpa in university life</h3></a>
                            <p>At many universities and colleges, your GPA determines your eligibility for financial aid programs,
                                 scholarships, and other support. If you fall below the minimum GPA (usually 2.0, but varies from 
                                 one institution to another), you might lose the financial support.Keeping a college GPA or grade
                                  point average high takes some concentration and effort, even for students
                                 who always did well in high school. The expectations are different for university students than for
                                  those in high school and university coeds who find ways to maintain their grade point average set 
                                  themselves up for success in school..<br>
                                 Here are some tips i.e by attend all your classes, determined how much class requires, study at quiet
                                 places and Take good Notes</p>
                        </div>
                    </div> <!-- singel news -->
                </div>
                <div class="col-lg-6">
                    <div class="singel-news news-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="news-thum mt-30">
                                    <img src="public/images/news/ns-1.jpg" alt="News">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="news-cont mt-30">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calendar"></i>26 July,2020</a></li>
                                        <li><a href="#"> <span>By</span> Bishal Kc</a></li>
                                    </ul>
                                    <a href="blog-singel.html"><h3>KU organizes the International Symposium</h3></a>
                                    <p>The 10th series of the annual event of the Turbine Testing Lab at KU, "Current Research in Hydropower 
                                        Technologies, CRHT-X" has been organized by web-based methods.

                                        </p>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- singel news -->
                    <div class="singel-news news-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="news-thum mt-30">
                                    <img src="public/images/news/ns-2.jpg" alt="News">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="news-cont mt-30">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calendar"></i>27 July, 2020 </a></li>
                                        <li><a href="#"> <span>By</span> Bishal Kc</a></li>
                                    </ul>
                                    <a href="blog-singel.html"><h3>Seminar on Higher Education Opportunities in Japan</h3></a>
                                    <p>A “Seminar on Higher Education Opportunities in Japan” was held at Kathmandu University 
                                        in Dhulikhel on November 26, 2019..</p>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- singel news -->
                    <div class="singel-news news-list">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="news-thum mt-30">
                                    <img src="public/images/news/ns-3.jpg" alt="News">
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="news-cont mt-30">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-calendar"></i>23 july 2020 </a></li>
                                        <li><a href="#"> <span>By</span> Ashish Pokhrel</a></li>
                                    </ul>
                                    <a href="blog-singel.html"><h3>Seminar on "Belt and Road Initiative (BRI)</h3></a>
                                    <p>A seminar on “Belt and Road Initiative (BRI): Need for Legal Cooperation” was held at Kathmandu
                                         University in Dhulikhel on July 23, 2019.  The seminar was organized by KU School of Law (KUSL)
                                          in cooperation with Nepal Bar Association (NBA).</p>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- singel news -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== NEWS PART ENDS ======-->
  

<footer>
    {{> footer }}
  </footer>
